<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Welcome to Infakestor</h1>

  <h2>
    This is the home page for the
    Infakestor - Stock Market Trading Game
  </h2>

  <%= link_to "Sign up now!", 'signup', class: "btn btn-lg btn-primary" %>
</div>
