<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The Infakestor Stock Market Trading Game is currently being developed by Bryan adn the Beards, 
  it is expected to reach completion before the end of the financial year.
</p>